@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Trevor Brooks<br />
    Bozeman, MT 59718<br />
    <abbr title="Phone">P:</abbr>
    406-839-7881
</address>

<address>
    <strong>Email:</strong> <a href="mailto:tbrooks@mtech.edu">tbrooks@mtech.edu</a><br />
</address>
