@using pfl_assessment.Models.Json.Orders
@model List<Item>
@{
    ViewData["Title"] = "Cart";
}


<h2>Your Cart</h2>
<!--Products in cart or empty notice-->
@if (Model.Count == 0)
{
    <div class="alert alert-info" role="alert">
        Your cart is empty.
        @Html.ActionLink("Start shopping!", "Index", "Store")
    </div>
}
else
{
    <div class="d-md-flex flex-column">
        @foreach (Item item in Model)
        {
            @Html.Partial("_ItemRowView", item)
        }
    </div>
    <br />
    using (Html.BeginForm("EmptyCart", "Cart"))
    {
        <input type="submit" class="btn btn-danger" name="submit" value="Empty Cart" />
    }
}
<br />
<hr />
@{
    //Grab customer info
    if (ViewData["customer"] == null)
    {
        ViewData["Customer"] = new Customer();
    }
    Customer customer = (Customer)ViewData["Customer"];
}
<div class="row">
    <!--Ask for customer info-->
    @Html.Partial("_CustomerShipmentForm", customer)

    <!--Show price if available.-->
    @if (Model.Count > 0 && ViewData["pricedOrder"] != null)
    {
        OrderPayload pricedOrder = (OrderPayload)ViewData["pricedOrder"];
        <div class="col">
            <h5>Your Price</h5>
            @using (Html.BeginForm("Place", "Order"))
            {
                @Html.Partial("_OrderPrice", pricedOrder)
                <input type="submit" class="btn btn-primary" name="submit" value="Place order" />
            }
        </div>
    }
</div>
